:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;

  --light: #f4f4f4;
  --dark: #1a1c2c;
  --dark-text: #e8e8e0;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--dark-text);
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem;
}

.title, .intro {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .title, .intro {
    font-size: 2rem;
    line-height: 1.4;
  }
}

