:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;

  --light: #f4f4f4;
  --dark: #1a1c2c;
  --dark-text: #e8e8e0;
  --sun: #ff8a32;
  --moon: #38b764;
  --blue: #0016ff;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  color: var(--dark);
  min-height: 100vh;
  font-size: 1.2rem;
}

body.dark {
  background-color: var(--dark);
  color: var(--dark-text);
}

header {
  margin-top: 4rem;
}

main {
  margin-top: 2rem;
}

footer {
  margin-top: auto;
  padding: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container + .container {
  margin-top: 3.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue);
}
.dark h1 {
  color: var(--moon);
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--blue);
}
.dark h2 {
  color: var(--moon);
}
h2 + div {
  margin-top: 1rem;
}

h3 {
  font-weight: bold;
}

h3 + li {
  margin-top: 0.5rem;
}

p + p {
  margin-top: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;
}

.intro {
  font-size: 1.8rem;
}

.theme-switch {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

#theme-switch-checkbox {
 height: 0;
  width: 0;
  position: absolute;
  visibility: hidden;
}

.theme-switch-label {
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background-color: var(--sun);
}

.dark .theme-switch-label {
  justify-content: start;
  background-color: var(--moon);
}

.theme-switch-label::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 0px 4px;
  background-color: var(--light);
}

.dark .theme-switch-label::after {
  background-color: var(--dark);
}

.sun,
.moon {
  width: 24px;
  height: 24px;
}

.contact {
  margin-top: 8rem;
}

a {
  color: var(--blue);
}

.dark a {
  color: var(--moon);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  header {
    margin-top: 1.2rem;
  }

  main {
    margin-top: 1rem;
  }

  .container + .container {
    margin-top: 1.6rem;
  }

  .contact {
    margin-top: 0;
  }

  .theme-switch {
    padding: 0
  }
}
