.home {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    @include bp(md) {
        background-color: black;
    }

    .card {
        width: 50rem;
        height: 33rem;
        color: white;
        background-color: black;
        border-radius: 3rem;
        padding: 2rem 4rem;

        @include bp(md) {
            width: 100vw;
            height: auto;
            border-radius: 0;
        }
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .hero-text {
        font-size: 3rem;
        line-height: 1.2;

        @include bp(md) {
            font-weight: bold;
            color: #fec5bb;
        }
    }

    .hero-photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #fec5bb;

        @include bp(md) {
            display: none;
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-top: 4rem;

    @include bp(sm) {
        grid-template-columns: 1fr;
    }

    .content-title {
        font-size: 0.9rem;
        line-height: 1.666;
        color: #06d6a0;
    }

    .content-value {
        font-size: 1.3rem;
        line-height: 1.4;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
