$breakpoints: (
    sm: 768px,
    md: 1024px,
    lg: 1600px
);

@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $bp: map-get($breakpoints, $breakpoint);

        @media only screen and (max-width: $bp) {
            @content;
        }

    } @else {
        @warn 'Unkown breakpoint: #{$breakpoint}.';
    }
}
