<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title>{{ site.title }}</title>
    <meta name="description" content="Hello, welcome to my homepage." />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="fonts/inter.css" />
</head>
<body>
    <div class="home">
        <div class="card">
            <header class="hero">
                <div class="hero-text">Sravan Reddam</div>
                <div class="hero-photo"></div>
            </header>
            <main class="content">
                <div>
                    <div class="content-title">Skills</div>
                    <div class="content-value">JavaScript, HTML, CSS</div>
                </div>
                <div>
                    <div class="content-title">Email</div>
                    <div class="content-value">
                        <a href="mailto:reddamsravan@gmail.com">reddamsravan@gmail.com</a>
                    </div>
                </div>
                <div>
                    <div class="content-title">Github</div>
                    <div class="content-value">
                        <a href="https://github.com/reddamsravan" target="_blank" rel="noopener noreferrer">github.com/reddamsravan</a>
                    </div>
                </div>
                <div>
                    <div class="content-title">LinkedIn</div>
                    <div class="content-value">
                        <a href="https://linkedin.com/in/rsravan" target="_blank" rel="noopener noreferrer">linkedin.com/in/rsravan</a>
                    </div>
                </div>
            </main>
            <footer></footer>
        </div>
    </div>
</body>
</html>
